{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
<div class="container">
<img src="https://images.pexels.com/photos/9068966/pexels-photo-9068966.jpeg?cs=srgb&dl=pexels-yan-krukau-9068966.jpg&fm=jpg&h=400&w=1400&fit=crop&_gl=1*1q0we1d*_ga*MjAzNTY5NzUwMi4xNjg0NTUzMDk0*_ga_8JE65Q40S6*MTY4NTI5NjE0My45LjEuMTY4NTI5Njc5My4wLjAuMA.." class="d-block w-100 my-3 mb-2" alt=""></div>


<div class="text-center">
<h3>Welcome to our Gaming Centre!</h3>
<pre>   
   <b> At our gaming centre, we are passionate about creating an immersive and thrilling gaming <br>experience for players of all ages and skill levels. Whether you're a casual gamer<br> looking for some fun or a competitive gamer seeking intense challenges, we have something for everyone.

    Our state-of-the-art facility is designed to provide the ultimate gaming environment. Equipped with the latest gaming consoles,<br> high-performance PCs, and cutting-edge virtual reality systems, we offer a wide range of gaming options to cater to diverse<br> interests. From action-packed multiplayer games to immersive VR adventures, you'll find a world of possibilities waiting for you.<br>
    
    Our friendly and knowledgeable staff are dedicated to ensuring that your visit to our gaming centre is nothing short of exceptional.<br> Whether you need assistance setting up your gaming station, want recommendations on the latest releases, or have questions about <br>ourservices, we are here to help. We believe that gaming is not just a pastime but a community, and we strive to foster a welcoming<br> and inclusive atmosphere where gamers can connect, collaborate, and share their passion.
    
    In addition to our impressive gaming setup, we regularly host exciting tournaments and events that bring together gaming<br> enthusiasts from all walks of life. Whether you're a seasoned pro or a budding talent, our competitions offer a chance to showcase your<br> skills, win fantastic prizes, and forge lasting friendships with fellow gamers. Stay updated with our event calendar <br>to ensure you don't miss out on any of the action!
    
    Safety is our utmost priority. We maintain a clean and sanitized gaming environment, ensuring that our equipment is well-maintained<br> and regularly disinfected. Our facility is designed with comfort in mind, providing ergonomic seating, ample space, and a <br>well-ventilated area for a pleasant gaming experience.
    
    At our gaming centre, we also understand the importance of refreshments. Our on-site café offers a variety of snacks, <br> drinks, and refreshments to keep you energized throughout your gaming session. Take a break, grab a bite, and recharge before diving <br> back into the virtual world.
    
    Whether you're visiting as a group, with friends, or flying solo, our gaming centre is the perfect destination for gamers<br> to explore, connect, and have a fantastic time. Join us today and unlock <br>the boundless possibilities of gaming!
    
    We can't wait to see you at our gaming centre soon!</b>
    
    <h4>Team [DS gaming centre]</h4>
    <h5>Email: dhruvchoudhary88649@gmail.com
Contact no: +918864916155</h5>
    
    
    
    
    
    
   
</pre>
</div>

{% endblock body %}