{% extends 'base.html' %}
{% block title %}Services{% endblock title %}
{% block body %}

<div class="container-fluid py-0 px-0">
    <img src="static/forza.jpeg" class="d-block w-100" alt="">
   



</div>
     <h3 style="text-align: center; margin-top: 5px; margin-bottom: 5px;">Prices Depend On time </h3>
    <div class="container w-50 mt-6">
        
          <ul class="list-group">
            <li class="list-group-item"><b>30 min - 50rs</b></li>
            <li class="list-group-item"><b>1 hour - 100rs</b></li>
            <li class="list-group-item"><b>2 hour - 150rs</b></li>
            <li class="list-group-item"><b>Full day - 500rs</b></li>
            <li class="list-group-item"><b>Adv booking available</b></li>
          </ul>

    </div>



    <div style="text-align: center; margin-top: 46px;"><h5>Contact us for more info</h5>
         <h5>Contact no - +918864916155</h5></div>
         



{% endblock body %}